# SPDX-License-Identifier: GPL-2.0-only
#
# MMC/SD host controller drivers
#

comment "MMC/SD/SDIO Host Controller Drivers"

config MMC_DEBUG
    tristate "MMC host drivers debugging"
    depends on MMC != n
    help
      This is an option for use by developers; most people should
      say N here. This enables MMC host driver debugging. And further
      added host drivers please don't invent their private macro for
      debugging.

config MMC_MTK
	tristate "MediaTek SD/MMC Card Interface support"
	depends on HAS_DMA
	depends on COMMON_CLK
	select REGULATOR
	select MMC_CQHCI
	help
	  This selects the MediaTek(R) Secure digital and Multimedia card Interface.
	  If you have a machine with a integrated SD/MMC card reader, say Y or M here.
	  This is needed if support for any SD/SDIO/MMC devices is required.
	  If unsure, say N.

config MMC_MTK_PRO
	tristate "MediaTek SD/MMC Card Proprietary Interface support"
	depends on !MMC_MTK
	help
	  This selects the MediaTek(R) Secure digital and Multimedia card
	  Interface. If you have a machine with a integrated SD/MMC card
	  reader, say Y or M here.

	  If unsure, say N.

config MMC_AUTOK
	tristate "MediaTek SD/MMC Card Auto Calibration support"
	help
	  This selects the MediaTek(R) Secure digital and Multimedia card
	  Online Tune Interface. If you have a controller with this interface,
	  say Y or M here.
	  If unsure, say N.
