// SPDX-License-Identifier: (GPL-2.0 OR MIT)
/*
 * Copyright (C) 2022 MediaTek Inc.
 */
/dts-v1/;
/plugin/;
#include <dt-bindings/interrupt-controller/arm-gic.h>
#include <dt-bindings/interrupt-controller/irq.h>
#include <dt-bindings/phy/phy.h>
#include <dt-bindings/pinctrl/mt6878-pinfunc.h>

#if 0
#include <dt-bindings/pinctrl/mt6897-pinfunc.h>
#endif

/ {
    hw_rev = <1>;
};

/* Trustonic Mobilecore real driver */
&mobicore{
	trustonic,real-drv=<1>;
};

&chosen {
bootargs_ext = "";
};

&mtk_leds {
	compatible = "mediatek,disp-leds";

	backlight {
		led-mode = <4>;
	};
};

&pdc {
	pd-vbus-upper-bound = <9000000>;
};

#if 0

&connfem {
/* Enable epa_elna node to support Wifi & BT ePA/eLNA FEM on customer load */
#if 0
	epa-elna {
		parts = <&wlan7207h &wlan7207c>;
		wifi {
			flags-0 {
				open-loop;
			};
		};
		bt {
			flags-0 {
				/* choose one of: epa-elna/epa/elna/bypass */
				epa-elna;
			};
		};
	};
#endif
};

/* GPS GPIO standardization start */
&pio {
	gps_pins_default: gps-default {
	};
	gps_l1_lna_pins_ol: gps-l1-lna0 {
		pins-cmd-dat {
			pinmux = <PINMUX_GPIO143__FUNC_GPIO143>;
			output-low;
		};
	};
	gps_l1_lna_pins_dsp_ctrl: gps-l1-lna1 {
		pins-cmd-dat {
			pinmux = <PINMUX_GPIO143__FUNC_GPS_L1_ELNA_EN>;
		};
	};
	gps_l1_lna_pins_oh: gps-l1-lna2 {
		pins-cmd-dat {
			pinmux = <PINMUX_GPIO143__FUNC_GPIO143>;
			output-high;
		};
	};
	gps_l5_lna_pins_ol: gps-l5-lna0 {
		pins-cmd-dat {
			pinmux = <PINMUX_GPIO144__FUNC_GPIO144>;
			output-low;
		};
	};
	gps_l5_lna_pins_dsp_ctrl: gps-l5-lna1 {
		pins-cmd-dat {
			pinmux = <PINMUX_GPIO144__FUNC_GPS_L5_ELNA_EN>;
		};
	};
	gps_l5_lna_pins_oh: gps-l5-lna2 {
		pins-cmd-dat {
			pinmux = <PINMUX_GPIO144__FUNC_GPIO144>;
			output-high;
		};
	};
};
&gps {
	pinctrl-names = "default",
		"gps_l1_lna_disable",
		"gps_l1_lna_dsp_ctrl",
		"gps_l1_lna_enable",
		"gps_l5_lna_disable",
		"gps_l5_lna_dsp_ctrl",
		"gps_l5_lna_enable";
	pinctrl-0 = <&gps_pins_default>;
	pinctrl-1 = <&gps_l1_lna_pins_ol>;
	pinctrl-2 = <&gps_l1_lna_pins_dsp_ctrl>;
	pinctrl-3 = <&gps_l1_lna_pins_oh>;
	pinctrl-4 = <&gps_l5_lna_pins_ol>;
	pinctrl-5 = <&gps_l5_lna_pins_dsp_ctrl>;
	pinctrl-6 = <&gps_l5_lna_pins_oh>;
	status = "okay";
};
/* GPS GPIO standardization end */

#endif

&i2c0 {
	clock-frequency = <400000>;
	status = "ok";

	ics_haptic_drv: ics_haptic@5f {
		compatible = "ics,haptic_rt";
		reg = <0x5f>;
		device-name = "vibrator_nt";
		richtap-name = "aac_richtap";
		pinctrl-names = "default";
		gpio-en = <&pio 38 0>;
		gpio-irq = <&pio 9 0>;
		x-axis-motor = <1>;
		status = "ok";
	};
};

&i2c0 {
	clock-frequency = <400000>;

	nfc@0x0f {
		status = "okay";
		compatible = "tms,nfc";
		reg = <0x28>;

		tms,device-name   = "tms_nfc";
		tms,device-count  = <1>;
		tms,irq-gpio      = <&pio 2 0>;
		tms,ven-gpio      = <&pio 40 1>;

	};
};

&i2c3 {
	clock-frequency = <400000>;
	hl5280-audioswitch@42 {
		compatible = "mediatek,hl5280-audioswitch";
		reg = <0x42>;
	};
};

&gpio_board_id {
	compatible = "gpio,board-id,galaga";
	board_id_gpio0 = <&pio 34 0x0>;
	board_id_gpio1 = <&pio 36 0x0>;
	board_id_gpio2 = <&pio 3 0x0>;
	board_id_gpio3 = <&pio 37 0x0>;
};

&i2c6 {
	clock-frequency = <400000>;
	tfa98xx_smartpa_0: tfa98xx@34 {
		compatible = "tfa,tfa98xx";
		#sound-dai-cells = <0>;
		reg = <0x34>;
		reset-gpio= <&pio 195 0>;
		reset-polarity=<1>;
		irq-gpio=<&pio 41 0>;
	};
	spk: speaker-amp@5c {
		compatible = "richtek,rt5512";
		#address-cells = <1>;
		#size-cells = <0>;
		#sound-dai-cells = <0>;
		reg = <0x5c>;
		status = "okay";
		sound-name-prefix = "Left";
	};
};

&sound {
	mediatek,spk-i2s = <25 24>;
	mediatek,speaker-codec {
		sound-dai = <&tfa98xx_smartpa_0>;
	};
};

&snd_audio_dsp {
	mtk-dsp-call-final = <0x5 0xc 0x11 0x10 0x18000>;
	swdsp-smartpa-process-enable = <0x5>;
};

&afe {
	etdm-align-mode = <0>;
};

&mtkfb {
	pinctrl-names = "lcd_bias_enp1_gpio", "lcd_bias_enp0_gpio",
		"lcd_bias_enn1_gpio", "lcd_bias_enn0_gpio",
		"lcm_rst_out1_gpio", "lcm_rst_out0_gpio",
		"mode_te_te", "lcm_led_en1_gpio", "lcm_led_en0_gpio";
	pinctrl-0 = <&mtkfb_pins_lcd_bias_enp1>;
	pinctrl-1 = <&mtkfb_pins_lcd_bias_enp0>;
	pinctrl-2 = <&mtkfb_pins_lcd_bias_enn1>;
	pinctrl-3 = <&mtkfb_pins_lcd_bias_enn0>;
	pinctrl-4 = <&mtkfb_pins_lcm_rst_out1_gpio>;
	pinctrl-5 = <&mtkfb_pins_lcm_rst_out0_gpio>;
	pinctrl-6 = <&mtkfb_pins_lcm_dsi_te>;
	pinctrl-7 = <&mtkfb_pins_lcm_led_en1>;
	pinctrl-8 = <&mtkfb_pins_lcm_led_en0>;

	status = "okay";
};

&pio {
	mtkfb_pins_lcd_bias_enp1: lcd-bias-enp1-gpio {
		pins-cmd-dat {
//			pinmux = <PINMUX_GPIO153__FUNC_GPIO153>;
			slew-rate = <1>;
			output-high;
		};
	};

	mtkfb_pins_lcd_bias_enp0: lcd-bias-enp0-gpio {
		pins-cmd-dat {
//			pinmux = <PINMUX_GPIO153__FUNC_GPIO153>;
			slew-rate = <1>;
			output-low;
		};
	};

	mtkfb_pins_lcd_bias_enn1: lcd-bias-enn1-gpio {
		pins-cmd-dat {
//			pinmux = <PINMUX_GPIO153__FUNC_GPIO153>;
			slew-rate = <1>;
			output-high;
		};
	};

	mtkfb_pins_lcd_bias_enn0: lcd-bias-enn0-gpio {
		pins-cmd-dat {
//			pinmux = <PINMUX_GPIO153__FUNC_GPIO153>;
			slew-rate = <1>;
			output-low;
		};
	};

	mtkfb_pins_lcm_rst_out1_gpio: lcm-rst-out1-gpio {
		pins-cmd-dat {
			pinmux = <PINMUX_GPIO90__FUNC_GPIO90>;
			slew-rate = <1>;
			output-high;
		};
	};

	mtkfb_pins_lcm_rst_out0_gpio: lcm-rst-out0-gpio {
		pins-cmd-dat {
			pinmux = <PINMUX_GPIO90__FUNC_GPIO90>;
			slew-rate = <1>;
			output-low;
		};
	};
	mtkfb_pins_lcm_dsi_te: lcm-dsi-te {
		pins-cmd-dat {
			pinmux = <PINMUX_GPIO89__FUNC_DSI_TE>;
		};
	};

	mtkfb_pins_lcm_led_en1: lcm-led-en1-gpio {
		pins-cmd-dat {
//			pinmux = <PINMUX_GPIO153__FUNC_GPIO153>;
			slew-rate = <1>;
			output-high;
		};
	};

	mtkfb_pins_lcm_led_en0: lcm-led-en0-gpio {
		pins-cmd-dat {
//			pinmux = <PINMUX_GPIO153__FUNC_GPIO153>;
			slew-rate = <1>;
			output-low;
		};
	};
};

&dispsys_config {
	pinctrl-names = "mode_te_te";
	pinctrl-0 = <&mtkfb_pins_lcm_dsi_te>;
	status = "okay";
};

&dsi0 {
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;
	switch-fps = <60>;
	panel1@0 {
		compatible = "jdi,nt36672e,vdo,60hz";
		reg = <0>;
		pm-enable-gpios = <&pio 153 0>;
		reset-gpios = <&pio 90 0>;
		gate-ic = <1>;
		pinctrl-names = "default";
		port {
			panel_in1: endpoint {
				remote-endpoint = <&dsi_out>;
			};
		};
	};
	panel2@1 {
		compatible = "rm69220,boe";
		reg = <1>;
		vddi-en-gpios = <&pio 32 0>;
		dvdd-en-gpios = <&pio 193 0>;
		vci-en-gpios = <&pio 194 0>;
		reset-gpios = <&pio 90 0>;
		is-support-write-key = <0>;
		pinctrl-names = "default";
		port {
			panel_in2: endpoint {
				remote-endpoint = <&dsi_out2>;
			};
		};
	};
	panel3@2 {
		compatible = "rm69220,vxn";
		reg = <2>;
		vddi-en-gpios = <&pio 32 0>;
		dvdd-en-gpios = <&pio 193 0>;
		vci-en-gpios = <&pio 194 0>;
		reset-gpios = <&pio 90 0>;
		is-support-write-key = <0>;
		pinctrl-names = "default";
		port {
			panel_in3: endpoint {
				remote-endpoint = <&dsi_out3>;
			};
		};
	};
	panel4@3 {
		compatible = "epd8820,boe";
		reg = <3>;
		vddi-en-gpios = <&pio 32 0>;
		dvdd-en-gpios = <&pio 193 0>;
		vci-en-gpios = <&pio 194 0>;
		reset-gpios = <&pio 90 0>;
		is-support-write-key = <0>;
		pinctrl-names = "default";
		port {
			panel_in4: endpoint {
				remote-endpoint = <&dsi_out4>;
			};
		};
	};
	ports {
		port {
			dsi_out: endpoint@0 {
				remote-endpoint = <&panel_in1>;
			};
			dsi_out2: endpoint@1 {
				remote-endpoint = <&panel_in2>;
			};
			dsi_out3: endpoint@2 {
				remote-endpoint = <&panel_in3>;
			};
			dsi_out4: endpoint@3 {
				remote-endpoint = <&panel_in4>;
			};
		};
	};
};

&audio_sram {
	reg = <0 0x11059000 0 0xc000>;
	mode-size = <0xc000 0x11300>;
};

&audio_xhci_sram {
	reg = <0 0x11065000 0 0x3900>;
	mode-size = <0x3900>;
	afe-reserved;
};

	&mtee_svp {
		mtee: MTEE {
			compatible = "mediatek,mtk_svp_on_mtee_support";
		};

		svp: SecureVideoPath {
			compatible = "mediatek,mtk_sec_video_path_support";
		};
	};

&nt_chg {
	project-id = <4>;
};

&mtk_gauge {
	project-id = <4>;
};

&pe5 {
	/*hot 45~50*/
	tbat-t4-to-t5-cv = <4250 4380 4450 4480 4505>;
	tbat-t4-to-t5-curlmt = <2139 2139 2139 2139 2139>;
	/*very warm 40~45*/
	tbat-t3-to-t4-cv = <4250 4380 4450 4480 4505>;
	tbat-t3-to-t4-curlmt = <0 0 0 540 1278>;
	/*warm 35~40*/
	tbat-t2-to-t3-cv = <4250 4380 4450 4480 4505>;
	tbat-t2-to-t3-curlmt = <0 0 0 540 1278>;
	/*normal 20~35*/
	tbat-t1-to-t2-cv = <4250 4380 4450 4480 4505>;
	tbat-t1-to-t2-curlmt = <0 0 0 540 1278>;
	/*cool 10~20*/
	tbat-t0-to-t1-cv = <4150 4250 4300 4480 4505>;
	tbat-t0-to-t1-curlmt = <0 0 540 1032 1278>;
};

&pio{
	ai_key_default:ai_key_default {
		pins-cmd1-dat {
			pinmux = <PINMUX_GPIO30__FUNC_GPIO30>;
			drive-strength = <2>;
			input-enable;
			bias-pull-up;
		};
	};
};
&gpio_keys {
	pinctrl-0 = <&key_gpio_default &ai_key_default>;
	ai_key {
		label = "ai_key";
		linux,code = <250>;
		linux,input-type = <1>;
		gpios = <&pio 30 1>;
		wakeup-source;
		debounce-interval = <30>;
	};
};

#include <k6878v1_64/cust.dtsi>
#include "mediatek/cust_mt6878_touch_galaga_1080x2392.dtsi"
#include "mediatek/cust_mt6878_galaga_camera_v4l2.dtsi"
#include "mediatek/cust_k6878_connfem.dtsi"
#include "mediatek/sgm41606S.dtsi"
#include "mediatek/nu2115.dtsi"
#include "goodix_fingerprint_galaga.dtsi"
/*End of this file, DO NOT ADD ANYTHING HERE*/

#include "mediatek/bat_setting/mt6878_battery_prop_galaga.dtsi"
