// SPDX-License-Identifier: (GPL-2.0 OR MIT)
/*
 * Copyright (C) 2023 MediaTek Inc.
 * Author: Chuan-wen Chen <chuan-wen.chen@mediatek.com>
 */

&clkitg {
	status = "okay";
	bring-up@0 {
		compatible = "mediatek,clk-bring-up";
		reg = <0>;
		clocks =
			<&topckgen_clk CLK_TOP_MMINFRA_SEL>;
	};

	bring-up-pd-disp@d {
		compatible = "mediatek,scpsys-bring-up";
		reg = <0xd>;
		power-domains = <&scpsys MT6878_POWER_DOMAIN_DISP>;
	};

	bring-up-pd-mm-infra@e {
		compatible = "mediatek,scpsys-bring-up";
		reg = <0xe>;
		power-domains = <&scpsys MT6878_POWER_DOMAIN_MM_INFRA>;
	};

	bring-up-pd-ssrsys@11 {
		compatible = "mediatek,scpsys-bring-up";
		reg = <0x11>;
		power-domains = <&scpsys MT6878_POWER_DOMAIN_SSR>;
	};

};
