// SPDX-License-Identifier: (GPL-2.0 OR MIT)
/*
 * Copyright (C) 2023 MediaTek Inc.
 * Author: Owen Chen <owen.chen@mediatek.com>
 */

&clkitg {
	status = "okay";
	bring-up@0 {
		compatible = "mediatek,clk-bring-up";
		reg = <0>;
		clocks =
			<&topckgen_clk CLK_TOP_EFUSE_SEL>,
			<&topckgen_clk CLK_TOP_DSP_SEL>,
			<&topckgen_clk CLK_TOP_MFG_EB_SEL>,
			<&topckgen_clk CLK_TOP_SPI0_BCLK_SEL>,
			<&topckgen_clk CLK_TOP_SPI1_BCLK_SEL>,
			<&topckgen_clk CLK_TOP_SPI2_BCLK_SEL>,
			<&topckgen_clk CLK_TOP_SPI3_BCLK_SEL>,
			<&topckgen_clk CLK_TOP_SPI4_BCLK_SEL>,
			<&topckgen_clk CLK_TOP_SPI5_BCLK_SEL>,
			<&topckgen_clk CLK_TOP_SPI6_BCLK_SEL>,
			<&topckgen_clk CLK_TOP_SPI7_BCLK_SEL>,
			<&topckgen_clk CLK_TOP_AUD_INTBUS_SEL>,
			<&topckgen_clk CLK_TOP_DISP_PWM_SEL>,
			<&topckgen_clk CLK_TOP_USB_TOP_SEL>,
			<&topckgen_clk CLK_TOP_USB_XHCI_SEL>,
			<&topckgen_clk CLK_TOP_USB_TOP_1P_SEL>,
			<&topckgen_clk CLK_TOP_USB_XHCI_1P_SEL>,
			<&topckgen_clk CLK_TOP_I2C_SEL>,
			<&topckgen_clk CLK_TOP_AUD_ENGEN1_SEL>,
			<&topckgen_clk CLK_TOP_AUD_ENGEN2_SEL>,
			<&topckgen_clk CLK_TOP_AES_UFSFDE_SEL>,
			<&topckgen_clk CLK_TOP_U_SEL>,
			<&topckgen_clk CLK_TOP_U_MBIST_SEL>,
			<&topckgen_clk CLK_TOP_PEXTP_MBIST_SEL>,
			<&topckgen_clk CLK_TOP_AUD_1_SEL>,
			<&topckgen_clk CLK_TOP_AUD_2_SEL>,
			<&topckgen_clk CLK_TOP_AUDIO_H_SEL>,
			<&topckgen_clk CLK_TOP_ADSP_SEL>,
			<&topckgen_clk CLK_TOP_ADSP_UARTHUB_BCLK_SEL>,
			<&topckgen_clk CLK_TOP_DPMAIF_MAIN_SEL>,
			<&topckgen_clk CLK_TOP_PWM_SEL>,
			<&topckgen_clk CLK_TOP_MCUPM_SEL>,
			<&topckgen_clk CLK_TOP_SFLASH_SEL>,
			<&topckgen_clk CLK_TOP_IPSEAST_SEL>,
			<&topckgen_clk CLK_TOP_IPSWEST_SEL>,
			<&topckgen_clk CLK_TOP_TL_SEL>,
			<&topckgen_clk CLK_TOP_EMI_INTERFACE_546_SEL>,
			<&topckgen_clk CLK_TOP_SDF_SEL>,
			<&topckgen_clk CLK_TOP_UARTHUB_BCLK_SEL>,
			<&topckgen_clk CLK_TOP_SSR_PKA_SEL>,
			<&topckgen_clk CLK_TOP_SSR_DMA_SEL>,
			<&topckgen_clk CLK_TOP_SSR_KDF_SEL>,
			<&topckgen_clk CLK_TOP_SSR_RNG_SEL>,
			<&topckgen_clk CLK_TOP_SSR_SEJ_SEL>,
			<&topckgen_clk CLK_TOP_SPU0_SEL>,
			<&topckgen_clk CLK_TOP_SPU1_SEL>,
			<&topckgen_clk CLK_TOP_DXCC_SEL>,
			<&topckgen_clk CLK_TOP_DPSW_CMP_26M_SEL>,
			<&topckgen_clk CLK_TOP_SMAPCK_SEL>,
			<&topckgen_clk CLK_TOP_APLL_I2S0_MCK_SEL>,
			<&topckgen_clk CLK_TOP_APLL_I2S1_MCK_SEL>,
			<&topckgen_clk CLK_TOP_APLL_I2S2_MCK_SEL>,
			<&topckgen_clk CLK_TOP_APLL_I2S3_MCK_SEL>,
			<&topckgen_clk CLK_TOP_APLL_I2S4_MCK_SEL>,
			<&topckgen_clk CLK_TOP_APLL_I2S5_MCK_SEL>,
			<&topckgen_clk CLK_TOP_APLL_I2S6_MCK_SEL>,
			<&topckgen_clk CLK_TOP_APLL_I2S7_MCK_SEL>,
			<&topckgen_clk CLK_TOP_APLL_I2S8_MCK_SEL>,
			<&topckgen_clk CLK_TOP_APLL_I2S9_MCK_SEL>,
			<&topckgen_clk CLK_TOP_APLL_ETDM_IN1_MCK_SEL>,
			<&topckgen_clk CLK_TOP_APLL_ETDM_OUT1_MCK_SEL>,
			<&topckgen_clk CLK_TOP_APLL_I2S10_MCK_SEL>,
			<&topckgen_clk CLK_TOP_CAMTG1_SEL>,
			<&topckgen_clk CLK_TOP_CAMTG2_SEL>,
			<&topckgen_clk CLK_TOP_CAMTG3_SEL>,
			<&topckgen_clk CLK_TOP_CAMTG4_SEL>,
			<&topckgen_clk CLK_TOP_CAMTG5_SEL>,
			<&topckgen_clk CLK_TOP_CAMTG6_SEL>,
			<&topckgen_clk CLK_TOP_CAMTG7_SEL>,
			<&topckgen_clk CLK_TOP_SENINF0_SEL>,
			<&topckgen_clk CLK_TOP_SENINF1_SEL>,
			<&topckgen_clk CLK_TOP_SENINF2_SEL>,
			<&topckgen_clk CLK_TOP_SENINF3_SEL>,
			<&topckgen_clk CLK_TOP_SENINF4_SEL>,
			<&topckgen_clk CLK_TOP_SENINF5_SEL>,
			<&topckgen_clk CLK_TOP_CCU_AHB_SEL>,
			<&topckgen_clk CLK_TOP_IMG1_SEL>,
			<&topckgen_clk CLK_TOP_IPE_SEL>,
			<&topckgen_clk CLK_TOP_CAM_SEL>,
			<&topckgen_clk CLK_TOP_CAMTM_SEL>,
			<&topckgen_clk CLK_TOP_DPE_SEL>,
			<&topckgen_clk CLK_TOP_VDEC_SEL>,
			<&topckgen_clk CLK_TOP_CCUSYS_SEL>,
			<&topckgen_clk CLK_TOP_CCUTM_SEL>,
			<&topckgen_clk CLK_TOP_VENC_SEL>,
			<&topckgen_clk CLK_TOP_DP_CORE_SEL>,
			<&topckgen_clk CLK_TOP_DP_SEL>,
			<&topckgen_clk CLK_TOP_DISP_SEL>,
			<&topckgen_clk CLK_TOP_MMINFRA_SEL>,
			<&topckgen_clk CLK_TOP_APLL12_CK_DIV0>,
			<&topckgen_clk CLK_TOP_APLL12_CK_DIV1>,
			<&topckgen_clk CLK_TOP_APLL12_CK_DIV2>,
			<&topckgen_clk CLK_TOP_APLL12_CK_DIV3>,
			<&topckgen_clk CLK_TOP_APLL12_CK_DIV4>,
			<&topckgen_clk CLK_TOP_APLL12_CK_DIVB>,
			<&topckgen_clk CLK_TOP_APLL12_CK_DIV5>,
			<&topckgen_clk CLK_TOP_APLL12_CK_DIV6>,
			<&topckgen_clk CLK_TOP_APLL12_CK_DIV7>,
			<&topckgen_clk CLK_TOP_APLL12_CK_DIV8>,
			<&topckgen_clk CLK_TOP_APLL12_CK_DIV9>,
			<&topckgen_clk CLK_TOP_APLL12_CK_DIV_ETDM_IN1>,
			<&topckgen_clk CLK_TOP_APLL12_CK_DIV_ETDM_OUT1>,
			<&topckgen_clk CLK_TOP_APLL12_CK_DIV10>,
			<&infracfg_ao_clk CLK_IFRAO_RG_SOCSYS_FATB>,
			<&infracfg_ao_clk CLK_IFRAO_RG_SOCSYS_SDF>,
			<&pericfg_ao_clk CLK_PERAOP_UART0>,
			<&pericfg_ao_clk CLK_PERAOP_UART1>,
			<&pericfg_ao_clk CLK_PERAOP_UART2>,
			<&pericfg_ao_clk CLK_PERAOP_UART3>,
			<&pericfg_ao_clk CLK_PERAOP_PWM_H>,
			<&pericfg_ao_clk CLK_PERAOP_PWM_B>,
			<&pericfg_ao_clk CLK_PERAOP_PWM_FB1>,
			<&pericfg_ao_clk CLK_PERAOP_PWM_FB2>,
			<&pericfg_ao_clk CLK_PERAOP_PWM_FB3>,
			<&pericfg_ao_clk CLK_PERAOP_PWM_FB4>,
			<&pericfg_ao_clk CLK_PERAOP_DISP_PWM0>,
			<&pericfg_ao_clk CLK_PERAOP_DISP_PWM1>,
			<&pericfg_ao_clk CLK_PERAOP_SPI0_B>,
			<&pericfg_ao_clk CLK_PERAOP_SPI1_B>,
			<&pericfg_ao_clk CLK_PERAOP_SPI2_B>,
			<&pericfg_ao_clk CLK_PERAOP_SPI3_B>,
			<&pericfg_ao_clk CLK_PERAOP_SPI4_B>,
			<&pericfg_ao_clk CLK_PERAOP_SPI5_B>,
			<&pericfg_ao_clk CLK_PERAOP_SPI6_B>,
			<&pericfg_ao_clk CLK_PERAOP_SPI7_B>,
			<&pericfg_ao_clk CLK_PERAOP_SFLASH>,
			<&pericfg_ao_clk CLK_PERAOP_SFLASH_F>,
			<&pericfg_ao_clk CLK_PERAOP_SFLASH_H>,
			<&pericfg_ao_clk CLK_PERAOP_SFLASH_P>,
			<&pericfg_ao_clk CLK_PERAOP_DMA_B>,
			<&pericfg_ao_clk CLK_PERAOP_SSUSB0_FRMCNT>,
			<&pericfg_ao_clk CLK_PERAOP_SSUSB1_FRMCNT>,
			<&pericfg_ao_clk CLK_PERAOP_AUDIO_SLV>,
			<&pericfg_ao_clk CLK_PERAOP_AUDIO_MST>,
			<&pericfg_ao_clk CLK_PERAOP_AUDIO_INTBUS>,
			<&pericfg_ao_clk CLK_PERAOP_AUDIO_ENGEN1>,
			<&pericfg_ao_clk CLK_PERAOP_AUDIO_ENGEN2>,
			<&pericfg_ao_clk CLK_PERAOP_AUDIO_TDMOUT_B>,
			<&pericfg_ao_clk CLK_PERAOP_AUDIO_H_AUD>,
			<&imp_iic_wrap_c_clk CLK_IMPC_I2C10>,
			<&imp_iic_wrap_c_clk CLK_IMPC_I2C11>,
			<&imp_iic_wrap_c_clk CLK_IMPC_I2C12>,
			<&imp_iic_wrap_c_clk CLK_IMPC_I2C13>,
			<&imp_iic_wrap_c_clk CLK_IMPC_SEC_EN>,
			<&ufscfg_ao_clk CLK_UFSAO_UNIPRO_TX_SYM>,
			<&ufscfg_ao_clk CLK_UFSAO_UNIPRO_RX_SYM0>,
			<&ufscfg_ao_clk CLK_UFSAO_UNIPRO_RX_SYM1>,
			<&ufscfg_ao_clk CLK_UFSAO_UNIPRO_SYS>,
			<&ufscfg_ao_clk CLK_UFSAO_UNIPRO_PHY_SAP>,
			<&ufscfg_ao_clk CLK_UFSAO_PERI2UFS_BRIDGE_H>,
			<&ufscfg_pdn_clk CLK_UFSPDN_UFSHCI_UFS>,
			<&ufscfg_pdn_clk CLK_UFSPDN_UFSHCI_AES>,
			<&ufscfg_pdn_clk CLK_UFSPDN_UFSHCI_U_AHB>,
			<&ufscfg_pdn_clk CLK_UFSPDN_UFSHCI_U_AXI>,
			<&pextpcfg_ao_clk CLK_PEXTP_P0_MAC_REF>,
			<&pextpcfg_ao_clk CLK_PEXTP_P0_MAC_PL_P>,
			<&pextpcfg_ao_clk CLK_PEXTP_P0_MAC_TL>,
			<&pextpcfg_ao_clk CLK_PEXTP_P0_MAC_AXI>,
			<&pextpcfg_ao_clk CLK_PEXTP_P0_MAC_AHB_APB>,
			<&pextpcfg_ao_clk CLK_PEXTP_P0_PHY_REF>,
			<&pextpcfg_ao_clk CLK_PEXTP_P0_PHY_MCU_BUS>,
			<&pextpcfg_ao_clk CLK_PEXTP_P1_MAC_REF>,
			<&pextpcfg_ao_clk CLK_PEXTP_P1_MAC_PL_P>,
			<&pextpcfg_ao_clk CLK_PEXTP_P1_MAC_TL>,
			<&pextpcfg_ao_clk CLK_PEXTP_P1_MAC_AXI>,
			<&pextpcfg_ao_clk CLK_PEXTP_P1_MAC_AHB_APB>,
			<&pextpcfg_ao_clk CLK_PEXTP_P1_PHY_REF>,
			<&pextpcfg_ao_clk CLK_PEXTP_P1_PHY_MCU_BUS>,
			<&imp_iic_wrap_s_clk CLK_IMPS_I2C1>,
			<&imp_iic_wrap_s_clk CLK_IMPS_I2C3>,
			<&imp_iic_wrap_s_clk CLK_IMPS_I2C5>,
			<&imp_iic_wrap_s_clk CLK_IMPS_I2C9>,
			<&imp_iic_wrap_s_clk CLK_IMPS_SEC_EN>,
			<&imp_iic_wrap_es_clk CLK_IMPES_I2C2>,
			<&imp_iic_wrap_es_clk CLK_IMPES_I2C4>,
			<&imp_iic_wrap_es_clk CLK_IMPES_I2C7>,
			<&imp_iic_wrap_es_clk CLK_IMPES_I2C8>,
			<&imp_iic_wrap_es_clk CLK_IMPES_SEC_EN>,
			<&imp_iic_wrap_n_clk CLK_IMPN_I2C0>,
			<&imp_iic_wrap_n_clk CLK_IMPN_I2C6>,
			<&imp_iic_wrap_n_clk CLK_IMPN_SEC_EN>,
			<&vlp_cksys_clk CLK_VLP_CK_SCP_SEL>,
			<&vlp_cksys_clk CLK_VLP_CK_SCP_SPI_SEL>,
			<&vlp_cksys_clk CLK_VLP_CK_SCP_IIC_SEL>,
			<&vlp_cksys_clk CLK_VLP_CK_SCP_SPI_HIGH_SPD_SEL>,
			<&vlp_cksys_clk CLK_VLP_CK_SCP_IIC_HIGH_SPD_SEL>,
			<&vlp_cksys_clk CLK_VLP_CK_CAMTG0_SEL>,
			<&vlp_cksys_clk CLK_VLP_CK_IPS_SEL>,
			<&scp_clk CLK_SCP_SET_SPI0>,
			<&scp_clk CLK_SCP_SET_SPI1>,
			<&scp_clk CLK_SCP_SET_SPI2>,
			<&scp_clk CLK_SCP_SET_SPI3>,
			<&scp_iic_clk CLK_SCP_IIC_I2C0>,
			<&scp_iic_clk CLK_SCP_IIC_I2C1>,
			<&scp_iic_clk CLK_SCP_IIC_I2C2>,
			<&scp_iic_clk CLK_SCP_IIC_I2C3>,
			<&scp_iic_clk CLK_SCP_IIC_I2C4>,
			<&scp_iic_clk CLK_SCP_IIC_I2C5>,
			<&scp_iic_clk CLK_SCP_IIC_I2C6>,
			<&scp_iic_clk CLK_SCP_IIC_I2C7>,
			<&scp_fast_iic_clk CLK_SCP_FAST_IIC_I2C0>,
			<&afe_clk CLK_AFE_MEMIF_INTBUS_CLK>,
			<&afe_clk CLK_AFE_MEMIF_HOP_CLK>,
			<&afe_clk CLK_AFE_PCM1>,
			<&afe_clk CLK_AFE_PCM0>,
			<&afe_clk CLK_AFE_SOUNDWIRE>,
			<&afe_clk CLK_AFE_CM1>,
			<&afe_clk CLK_AFE_CM0>,
			<&afe_clk CLK_AFE_STF>,
			<&afe_clk CLK_AFE_HW_GAIN23>,
			<&afe_clk CLK_AFE_HW_GAIN01>,
			<&afe_clk CLK_AFE_DAIBT>,
			<&afe_clk CLK_AFE_MERGE_IF>,
			<&afe_clk CLK_AFE_FM_I2S>,
			<&afe_clk CLK_AFE_UL2_ADC_HIRES_TML>,
			<&afe_clk CLK_AFE_UL2_ADC_HIRES>,
			<&afe_clk CLK_AFE_UL2_TML>,
			<&afe_clk CLK_AFE_UL2_ADC>,
			<&afe_clk CLK_AFE_UL1_ADC_HIRES_TML>,
			<&afe_clk CLK_AFE_UL1_ADC_HIRES>,
			<&afe_clk CLK_AFE_UL1_TML>,
			<&afe_clk CLK_AFE_UL1_ADC>,
			<&afe_clk CLK_AFE_UL0_ADC_HIRES_TML>,
			<&afe_clk CLK_AFE_UL0_ADC_HIRES>,
			<&afe_clk CLK_AFE_UL0_TML>,
			<&afe_clk CLK_AFE_UL0_ADC>,
			<&afe_clk CLK_AFE_DPRX>,
			<&afe_clk CLK_AFE_DPTX>,
			<&afe_clk CLK_AFE_ETDM_IN6>,
			<&afe_clk CLK_AFE_ETDM_IN5>,
			<&afe_clk CLK_AFE_ETDM_IN4>,
			<&afe_clk CLK_AFE_ETDM_IN3>,
			<&afe_clk CLK_AFE_ETDM_IN2>,
			<&afe_clk CLK_AFE_ETDM_IN1>,
			<&afe_clk CLK_AFE_ETDM_IN0>,
			<&afe_clk CLK_AFE_ETDM_OUT6>,
			<&afe_clk CLK_AFE_ETDM_OUT5>,
			<&afe_clk CLK_AFE_ETDM_OUT4>,
			<&afe_clk CLK_AFE_ETDM_OUT3>,
			<&afe_clk CLK_AFE_ETDM_OUT2>,
			<&afe_clk CLK_AFE_ETDM_OUT1>,
			<&afe_clk CLK_AFE_ETDM_OUT0>,
			<&afe_clk CLK_AFE_GENERAL24_ASRC>,
			<&afe_clk CLK_AFE_GENERAL23_ASRC>,
			<&afe_clk CLK_AFE_GENERAL22_ASRC>,
			<&afe_clk CLK_AFE_GENERAL21_ASRC>,
			<&afe_clk CLK_AFE_GENERAL20_ASRC>,
			<&afe_clk CLK_AFE_GENERAL19_ASRC>,
			<&afe_clk CLK_AFE_GENERAL18_ASRC>,
			<&afe_clk CLK_AFE_GENERAL17_ASRC>,
			<&afe_clk CLK_AFE_GENERAL16_ASRC>,
			<&afe_clk CLK_AFE_GENERAL15_ASRC>,
			<&afe_clk CLK_AFE_GENERAL14_ASRC>,
			<&afe_clk CLK_AFE_GENERAL13_ASRC>,
			<&afe_clk CLK_AFE_GENERAL12_ASRC>,
			<&afe_clk CLK_AFE_GENERAL11_ASRC>,
			<&afe_clk CLK_AFE_GENERAL10_ASRC>,
			<&afe_clk CLK_AFE_GENERAL9_ASRC>,
			<&afe_clk CLK_AFE_GENERAL8_ASRC>,
			<&afe_clk CLK_AFE_GENERAL7_ASRC>,
			<&afe_clk CLK_AFE_GENERAL6_ASRC>,
			<&afe_clk CLK_AFE_GENERAL5_ASRC>,
			<&afe_clk CLK_AFE_GENERAL4_ASRC>,
			<&afe_clk CLK_AFE_GENERAL3_ASRC>,
			<&afe_clk CLK_AFE_GENERAL2_ASRC>,
			<&afe_clk CLK_AFE_GENERAL1_ASRC>,
			<&afe_clk CLK_AFE_GENERAL0_ASRC>,
			<&afe_clk CLK_AFE_CONNSYS_I2S_ASRC>,
			<&afe_clk CLK_AFE_AUDIO_HOPPING>,
			<&afe_clk CLK_AFE_AUDIO_F26M>,
			<&afe_clk CLK_AFE_APLL1>,
			<&afe_clk CLK_AFE_APLL2>,
			<&afe_clk CLK_AFE_H208M>,
			<&afe_clk CLK_AFE_APLL_TUNER2>,
			<&afe_clk CLK_AFE_APLL_TUNER1>,
			<&mminfra_config_clk CLK_MMINFRA_SMI>,
			<&img_vcore_d1a_clk CLK_IMG_VCORE_GALS_DISP>,
			<&img_vcore_d1a_clk CLK_IMG_VCORE_MAIN>,
			<&img_vcore_d1a_clk CLK_IMG_VCORE_SUB0>,
			<&img_vcore_d1a_clk CLK_IMG_VCORE_SUB1>,
			<&imgsys_main_clk CLK_IMG_FDVT>,
			<&imgsys_main_clk CLK_IMG_ME>,
			<&imgsys_main_clk CLK_IMG_MMG>,
			<&imgsys_main_clk CLK_IMG_LARB12>,
			<&imgsys_main_clk CLK_IMG_LARB9>,
			<&imgsys_main_clk CLK_IMG_TRAW0>,
			<&imgsys_main_clk CLK_IMG_TRAW1>,
			<&imgsys_main_clk CLK_IMG_DIP0>,
			<&imgsys_main_clk CLK_IMG_WPE0>,
			<&imgsys_main_clk CLK_IMG_IPE>,
			<&imgsys_main_clk CLK_IMG_WPE1>,
			<&imgsys_main_clk CLK_IMG_WPE2>,
			<&imgsys_main_clk CLK_IMG_ADL_LARB>,
			<&imgsys_main_clk CLK_IMG_ADLRD>,
			<&imgsys_main_clk CLK_IMG_ADLWR>,
			<&imgsys_main_clk CLK_IMG_AVS>,
			<&imgsys_main_clk CLK_IMG_IPS>,
			<&imgsys_main_clk CLK_IMG_SUB_COMMON0>,
			<&imgsys_main_clk CLK_IMG_SUB_COMMON1>,
			<&imgsys_main_clk CLK_IMG_SUB_COMMON2>,
			<&imgsys_main_clk CLK_IMG_SUB_COMMON3>,
			<&imgsys_main_clk CLK_IMG_SUB_COMMON4>,
			<&imgsys_main_clk CLK_IMG_GALS_RX_DIP0>,
			<&imgsys_main_clk CLK_IMG_GALS_RX_DIP1>,
			<&imgsys_main_clk CLK_IMG_GALS_RX_TRAW0>,
			<&imgsys_main_clk CLK_IMG_GALS_RX_WPE0>,
			<&imgsys_main_clk CLK_IMG_GALS_RX_WPE1>,
			<&imgsys_main_clk CLK_IMG_GALS_RX_WPE2>,
			<&imgsys_main_clk CLK_IMG_GALS_RX_IPE0>,
			<&imgsys_main_clk CLK_IMG_GALS_TX_IPE0>,
			<&imgsys_main_clk CLK_IMG_GALS_RX_IPE1>,
			<&imgsys_main_clk CLK_IMG_GALS_TX_IPE1>,
			<&imgsys_main_clk CLK_IMG_GALS>,
			<&dip_top_dip1_clk CLK_DIP_TOP_DIP1_DIP_TOP>,
			<&dip_top_dip1_clk CLK_DIP_TOP_DIP1_DIP_TOP_GALS0>,
			<&dip_top_dip1_clk CLK_DIP_TOP_DIP1_DIP_TOP_GALS1>,
			<&dip_top_dip1_clk CLK_DIP_TOP_DIP1_DIP_TOP_GALS2>,
			<&dip_top_dip1_clk CLK_DIP_TOP_DIP1_DIP_TOP_GALS3>,
			<&dip_top_dip1_clk CLK_DIP_TOP_DIP1_LARB10>,
			<&dip_top_dip1_clk CLK_DIP_TOP_DIP1_LARB15>,
			<&dip_top_dip1_clk CLK_DIP_TOP_DIP1_LARB38>,
			<&dip_top_dip1_clk CLK_DIP_TOP_DIP1_LARB39>,
			<&dip_nr1_dip1_clk CLK_DIP_NR1_DIP1_LARB>,
			<&dip_nr1_dip1_clk CLK_DIP_NR1_DIP1_DIP_NR1>,
			<&dip_nr2_dip1_clk CLK_DIP_NR2_DIP1_LARB15>,
			<&dip_nr2_dip1_clk CLK_DIP_NR2_DIP1_DIP_NR>,
			<&dip_nr2_dip1_clk CLK_DIP_NR2_DIP1_LARB39>,
			<&wpe1_dip1_clk CLK_WPE1_DIP1_LARB11>,
			<&wpe1_dip1_clk CLK_WPE1_DIP1_WPE>,
			<&wpe1_dip1_clk CLK_WPE1_DIP1_GALS0>,
			<&wpe2_dip1_clk CLK_WPE2_DIP1_LARB11>,
			<&wpe2_dip1_clk CLK_WPE2_DIP1_WPE>,
			<&wpe2_dip1_clk CLK_WPE2_DIP1_GALS0>,
			<&wpe3_dip1_clk CLK_WPE3_DIP1_LARB11>,
			<&wpe3_dip1_clk CLK_WPE3_DIP1_WPE>,
			<&wpe3_dip1_clk CLK_WPE3_DIP1_GALS0>,
			<&traw_dip1_clk CLK_TRAW_DIP1_LARB28>,
			<&traw_dip1_clk CLK_TRAW_DIP1_LARB40>,
			<&traw_dip1_clk CLK_TRAW_DIP1_TRAW>,
			<&traw_dip1_clk CLK_TRAW_DIP1_GALS>,
			<&traw_cap_dip1_clk CLK_TRAW_CAP_DIP1_TRAW_CAP>,
			<&vdec_soc_gcon_base_clk CLK_VDE1_LAT_CKEN>,
			<&vdec_soc_gcon_base_clk CLK_VDE1_LAT_ACTIVE>,
			<&vdec_soc_gcon_base_clk CLK_VDE1_LAT_CKEN_ENG>,
			<&vdec_soc_gcon_base_clk CLK_VDE1_VDEC_CKEN>,
			<&vdec_soc_gcon_base_clk CLK_VDE1_VDEC_ACTIVE>,
			<&vdec_soc_gcon_base_clk CLK_VDE1_VDEC_CKEN_ENG>,
			<&vdec_soc_gcon_base_clk CLK_VDE1_VDEC_SOC_APTV_EN>,
			<&vdec_soc_gcon_base_clk CLK_VDE1_VDEC_SOC_APTV_TOP_EN>,
			<&vdec_soc_gcon_base_clk CLK_VDE1_VDEC_SOC_IPS_EN>,
			<&vdec_gcon_base_clk CLK_VDE2_LAT_CKEN>,
			<&vdec_gcon_base_clk CLK_VDE2_LAT_ACTIVE>,
			<&vdec_gcon_base_clk CLK_VDE2_LAT_CKEN_ENG>,
			<&vdec_gcon_base_clk CLK_VDE2_VDEC_CKEN>,
			<&vdec_gcon_base_clk CLK_VDE2_VDEC_ACTIVE>,
			<&vdec_gcon_base_clk CLK_VDE2_VDEC_CKEN_ENG>,
			<&venc_gcon_clk CLK_VEN1_CKE0_LARB>,
			<&venc_gcon_clk CLK_VEN1_CKE1_VENC>,
			<&venc_gcon_clk CLK_VEN1_CKE2_JPGENC>,
			<&venc_gcon_clk CLK_VEN1_CKE3_JPGDEC>,
			<&venc_gcon_clk CLK_VEN1_CKE4_JPGDEC_C1>,
			<&venc_gcon_clk CLK_VEN1_CKE5_GALS>,
			<&venc_gcon_clk CLK_VEN1_CKE6_GALS_SRAM>,
			<&venc_gcon_core1_clk CLK_VEN2_CKE0_LARB>,
			<&venc_gcon_core1_clk CLK_VEN2_CKE1_VENC>,
			<&venc_gcon_core1_clk CLK_VEN2_CKE2_JPGENC>,
			<&venc_gcon_core1_clk CLK_VEN2_CKE3_JPGDEC>,
			<&venc_gcon_core1_clk CLK_VEN2_CKE5_GALS>,
			<&venc_gcon_core1_clk CLK_VEN2_CKE6_GALS_SRAM>,
			<&venc_gcon_core2_clk CLK_VEN_C2_CKE0_LARB>,
			<&venc_gcon_core2_clk CLK_VEN_C2_CKE1_VENC>,
			<&venc_gcon_core2_clk CLK_VEN_C2_CKE2_JPGENC>,
			<&venc_gcon_core2_clk CLK_VEN_C2_CKE5_GALS>,
			<&venc_gcon_core2_clk CLK_VEN_C2_CKE6_GALS_SRAM>,
			<&cam_vcore_clk CLK_CAM_V_MM0_SUBCOMM>,
			<&camsys_main_clk CLK_CAM_MAIN_LARB13>,
			<&camsys_main_clk CLK_CAM_MAIN_LARB14>,
			<&camsys_main_clk CLK_CAM_MAIN_LARB27>,
			<&camsys_main_clk CLK_CAM_MAIN_LARB29>,
			<&camsys_main_clk CLK_CAM_MAIN_CAM>,
			<&camsys_main_clk CLK_CAM_MAIN_CAM_SUBA>,
			<&camsys_main_clk CLK_CAM_MAIN_CAM_SUBB>,
			<&camsys_main_clk CLK_CAM_MAIN_CAM_SUBC>,
			<&camsys_main_clk CLK_CAM_MAIN_CAM_MRAW>,
			<&camsys_main_clk CLK_CAM_MAIN_CAMTG>,
			<&camsys_main_clk CLK_CAM_MAIN_SENINF>,
			<&camsys_main_clk CLK_CAM_MAIN_CAMSV_TOP>,
			<&camsys_main_clk CLK_CAM_MAIN_ADLRD>,
			<&camsys_main_clk CLK_CAM_MAIN_ADLWR>,
			<&camsys_main_clk CLK_CAM_MAIN_UISP>,
			<&camsys_main_clk CLK_CAM_MAIN_CAM2MM0_GALS>,
			<&camsys_main_clk CLK_CAM_MAIN_CAM2MM1_GALS>,
			<&camsys_main_clk CLK_CAM_MAIN_CAM2SYS_GALS>,
			<&camsys_main_clk CLK_CAM_MAIN_CAM2MM2_GALS>,
			<&camsys_main_clk CLK_CAM_MAIN_CCUSYS>,
			<&camsys_main_clk CLK_CAM_MAIN_CAM_DPE>,
			<&camsys_main_clk CLK_CAM_MAIN_CAM_ASG>,
			<&camsys_main_clk CLK_CAM_MAIN_CAMSV_A_CON_1>,
			<&camsys_main_clk CLK_CAM_MAIN_CAMSV_B_CON_1>,
			<&camsys_main_clk CLK_CAM_MAIN_CAMSV_C_CON_1>,
			<&camsys_main_clk CLK_CAM_MAIN_CAMSV_D_CON_1>,
			<&camsys_main_clk CLK_CAM_MAIN_CAMSV_E_CON_1>,
			<&camsys_main_clk CLK_CAM_MAIN_CAMSV_CON_1>,
			<&camsys_mraw_clk CLK_CAM_MR_LARBX>,
			<&camsys_mraw_clk CLK_CAM_MR_GALS>,
			<&camsys_mraw_clk CLK_CAM_MR_CAMTG>,
			<&camsys_mraw_clk CLK_CAM_MR_MRAW0>,
			<&camsys_mraw_clk CLK_CAM_MR_MRAW1>,
			<&camsys_mraw_clk CLK_CAM_MR_MRAW2>,
			<&camsys_mraw_clk CLK_CAM_MR_MRAW3>,
			<&camsys_mraw_clk CLK_CAM_MR_PDA0>,
			<&camsys_mraw_clk CLK_CAM_MR_PDA1>,
			<&camsys_ipe_clk CLK_CAMSYS_IPE_LARB19>,
			<&camsys_ipe_clk CLK_CAMSYS_IPE_DPE>,
			<&camsys_ipe_clk CLK_CAMSYS_IPE_FUS>,
			<&camsys_ipe_clk CLK_CAMSYS_IPE_DHZE>,
			<&camsys_ipe_clk CLK_CAMSYS_IPE_GALS>,
			<&camsys_rmsa_clk CLK_CAMSYS_RMSA_LARBX>,
			<&camsys_rmsa_clk CLK_CAMSYS_RMSA_CAM>,
			<&camsys_rmsa_clk CLK_CAMSYS_RMSA_CAMTG>,
			<&camsys_rawa_clk CLK_CAM_RA_LARBX>,
			<&camsys_rawa_clk CLK_CAM_RA_CAM>,
			<&camsys_rawa_clk CLK_CAM_RA_CAMTG>,
			<&camsys_yuva_clk CLK_CAM_YA_LARBX>,
			<&camsys_yuva_clk CLK_CAM_YA_CAM>,
			<&camsys_yuva_clk CLK_CAM_YA_CAMTG>,
			<&camsys_rmsb_clk CLK_CAMSYS_RMSB_LARBX>,
			<&camsys_rmsb_clk CLK_CAMSYS_RMSB_CAM>,
			<&camsys_rmsb_clk CLK_CAMSYS_RMSB_CAMTG>,
			<&camsys_rawb_clk CLK_CAM_RB_LARBX>,
			<&camsys_rawb_clk CLK_CAM_RB_CAM>,
			<&camsys_rawb_clk CLK_CAM_RB_CAMTG>,
			<&camsys_yuvb_clk CLK_CAM_YB_LARBX>,
			<&camsys_yuvb_clk CLK_CAM_YB_CAM>,
			<&camsys_yuvb_clk CLK_CAM_YB_CAMTG>,
			<&camsys_rmsc_clk CLK_CAMSYS_RMSC_LARBX>,
			<&camsys_rmsc_clk CLK_CAMSYS_RMSC_CAM>,
			<&camsys_rmsc_clk CLK_CAMSYS_RMSC_CAMTG>,
			<&camsys_rawc_clk CLK_CAM_RC_LARBX>,
			<&camsys_rawc_clk CLK_CAM_RC_CAM>,
			<&camsys_rawc_clk CLK_CAM_RC_CAMTG>,
			<&camsys_yuvc_clk CLK_CAM_YC_LARBX>,
			<&camsys_yuvc_clk CLK_CAM_YC_CAM>,
			<&camsys_yuvc_clk CLK_CAM_YC_CAMTG>,
			<&ccu_main_clk CLK_CCU_LARB30_CON>,
			<&ccu_main_clk CLK_CCU_AHB_CON>,
			<&ccu_main_clk CLK_CCUSYS_CCU0_CON>,
			<&ccu_main_clk CLK_CCUSYS_CCU1_CON>,
			<&ccu_main_clk CLK_CCU2MM0_GALS_CON>,
			<&dispsys1_config_clk CLK_MM1_DISPSYS1_CONFIG>,
			<&dispsys1_config_clk CLK_MM1_DISP_MUTEX0>,
			<&dispsys1_config_clk CLK_MM1_DISP_DLI_ASYNC0>,
			<&dispsys1_config_clk CLK_MM1_DISP_DLI_ASYNC1>,
			<&dispsys1_config_clk CLK_MM1_DISP_DLI_ASYNC2>,
			<&dispsys1_config_clk CLK_MM1_MDP_RDMA0>,
			<&dispsys1_config_clk CLK_MM1_DISP_R2Y0>,
			<&dispsys1_config_clk CLK_MM1_DISP_SPLITTER0>,
			<&dispsys1_config_clk CLK_MM1_DISP_SPLITTER1>,
			<&dispsys1_config_clk CLK_MM1_DISP_VDCM0>,
			<&dispsys1_config_clk CLK_MM1_DISP_DSC_WRAP0>,
			<&dispsys1_config_clk CLK_MM1_DISP_DSC_WRAP1>,
			<&dispsys1_config_clk CLK_MM1_DISP_DSC_WRAP2>,
			<&dispsys1_config_clk CLK_MM1_DISP_DP_INTF0>,
			<&dispsys1_config_clk CLK_MM1_DISP_DSI0>,
			<&dispsys1_config_clk CLK_MM1_DISP_DSI1>,
			<&dispsys1_config_clk CLK_MM1_DISP_DSI2>,
			<&dispsys1_config_clk CLK_MM1_DISP_MERGE0>,
			<&dispsys1_config_clk CLK_MM1_DISP_WDMA0>,
			<&dispsys1_config_clk CLK_MM1_SMI_SUB_COMM0>,
			<&dispsys1_config_clk CLK_MM1_DISP_WDMA1>,
			<&dispsys1_config_clk CLK_MM1_DISP_WDMA2>,
			<&dispsys1_config_clk CLK_MM1_DISP_GDMA0>,
			<&dispsys1_config_clk CLK_MM1_DISP_DLI_ASYNC3>,
			<&dispsys1_config_clk CLK_MM1_DISP_DLI_ASYNC4>,
			<&dispsys1_config_clk CLK_MM1_MOD1>,
			<&dispsys1_config_clk CLK_MM1_MOD2>,
			<&dispsys1_config_clk CLK_MM1_MOD3>,
			<&dispsys1_config_clk CLK_MM1_MOD4>,
			<&dispsys1_config_clk CLK_MM1_MOD5>,
			<&dispsys1_config_clk CLK_MM1_MOD6>,
			<&dispsys1_config_clk CLK_MM1_MOD7>,
			<&dispsys1_config_clk CLK_MM1_SUBSYS>,
			<&dispsys1_config_clk CLK_MM1_DSI0>,
			<&dispsys1_config_clk CLK_MM1_DSI1>,
			<&dispsys1_config_clk CLK_MM1_DSI2>,
			<&dispsys1_config_clk CLK_MM1_DP>,
			<&dispsys1_config_clk CLK_MM1_F26M>,
			<&dispsys_config_clk CLK_MM_CONFIG>,
			<&dispsys_config_clk CLK_MM_DISP_MUTEX0>,
			<&dispsys_config_clk CLK_MM_DISP_AAL0>,
			<&dispsys_config_clk CLK_MM_DISP_AAL1>,
			<&dispsys_config_clk CLK_MM_DISP_C3D0>,
			<&dispsys_config_clk CLK_MM_DISP_C3D1>,
			<&dispsys_config_clk CLK_MM_DISP_CCORR0>,
			<&dispsys_config_clk CLK_MM_DISP_CCORR1>,
			<&dispsys_config_clk CLK_MM_DISP_CCORR2>,
			<&dispsys_config_clk CLK_MM_DISP_CCORR3>,
			<&dispsys_config_clk CLK_MM_DISP_CHIST0>,
			<&dispsys_config_clk CLK_MM_DISP_CHIST1>,
			<&dispsys_config_clk CLK_MM_DISP_COLOR0>,
			<&dispsys_config_clk CLK_MM_DISP_COLOR1>,
			<&dispsys_config_clk CLK_MM_DISP_DITHER0>,
			<&dispsys_config_clk CLK_MM_DISP_DITHER1>,
			<&dispsys_config_clk CLK_MM_DISP_DITHER2>,
			<&dispsys_config_clk CLK_MM_DLI_ASYNC0>,
			<&dispsys_config_clk CLK_MM_DLI_ASYNC1>,
			<&dispsys_config_clk CLK_MM_DLI_ASYNC2>,
			<&dispsys_config_clk CLK_MM_DLI_ASYNC3>,
			<&dispsys_config_clk CLK_MM_DLI_ASYNC4>,
			<&dispsys_config_clk CLK_MM_DLI_ASYNC5>,
			<&dispsys_config_clk CLK_MM_DLI_ASYNC6>,
			<&dispsys_config_clk CLK_MM_DLI_ASYNC7>,
			<&dispsys_config_clk CLK_MM_DLO_ASYNC0>,
			<&dispsys_config_clk CLK_MM_DLO_ASYNC1>,
			<&dispsys_config_clk CLK_MM_DLO_ASYNC2>,
			<&dispsys_config_clk CLK_MM_DLO_ASYNC3>,
			<&dispsys_config_clk CLK_MM_DLO_ASYNC4>,
			<&dispsys_config_clk CLK_MM_DISP_GAMMA0>,
			<&dispsys_config_clk CLK_MM_DISP_GAMMA1>,
			<&dispsys_config_clk CLK_MM_MDP_AAL0>,
			<&dispsys_config_clk CLK_MM_MDP_RDMA0>,
			<&dispsys_config_clk CLK_MM_DISP_ODDMR0>,
			<&dispsys_config_clk CLK_MM_DISP_POSTALIGN0>,
			<&dispsys_config_clk CLK_MM_DISP_POSTMASK0>,
			<&dispsys_config_clk CLK_MM_DISP_POSTMASK1>,
			<&dispsys_config_clk CLK_MM_DISP_RSZ0>,
			<&dispsys_config_clk CLK_MM_DISP_RSZ1>,
			<&dispsys_config_clk CLK_MM_DISP_SPR0>,
			<&dispsys_config_clk CLK_MM_DISP_TDSHP0>,
			<&dispsys_config_clk CLK_MM_DISP_TDSHP1>,
			<&dispsys_config_clk CLK_MM_DISP_WDMA1>,
			<&dispsys_config_clk CLK_MM_DISP_Y2R0>,
			<&dispsys_config_clk CLK_MM_MDP_AAL1>,
			<&dispsys_config_clk CLK_MM_SMI_SUB_COMM0>,
			<&ovlsys_config_clk CLK_OVLSYS_CONFIG>,
			<&ovlsys_config_clk CLK_OVL_DISP_FAKE_ENG0>,
			<&ovlsys_config_clk CLK_OVL_DISP_FAKE_ENG1>,
			<&ovlsys_config_clk CLK_OVL_DISP_MUTEX0>,
			<&ovlsys_config_clk CLK_OVL_DISP_OVL0_2L>,
			<&ovlsys_config_clk CLK_OVL_DISP_OVL1_2L>,
			<&ovlsys_config_clk CLK_OVL_DISP_OVL2_2L>,
			<&ovlsys_config_clk CLK_OVL_DISP_OVL3_2L>,
			<&ovlsys_config_clk CLK_OVL_DISP_RSZ1>,
			<&ovlsys_config_clk CLK_OVL_MDP_RSZ0>,
			<&ovlsys_config_clk CLK_OVL_DISP_WDMA0>,
			<&ovlsys_config_clk CLK_OVL_DISP_UFBC_WDMA0>,
			<&ovlsys_config_clk CLK_OVL_DISP_WDMA2>,
			<&ovlsys_config_clk CLK_OVL_DISP_DLI_ASYNC0>,
			<&ovlsys_config_clk CLK_OVL_DISP_DLI_ASYNC1>,
			<&ovlsys_config_clk CLK_OVL_DISP_DLI_ASYNC2>,
			<&ovlsys_config_clk CLK_OVL_DISP_DL0_ASYNC0>,
			<&ovlsys_config_clk CLK_OVL_DISP_DL0_ASYNC1>,
			<&ovlsys_config_clk CLK_OVL_DISP_DL0_ASYNC2>,
			<&ovlsys_config_clk CLK_OVL_DISP_DL0_ASYNC3>,
			<&ovlsys_config_clk CLK_OVL_DISP_DL0_ASYNC4>,
			<&ovlsys_config_clk CLK_OVL_DISP_DL0_ASYNC5>,
			<&ovlsys_config_clk CLK_OVL_DISP_DL0_ASYNC6>,
			<&ovlsys_config_clk CLK_OVL_INLINEROT0>,
			<&ovlsys_config_clk CLK_OVL_SMI_SUB_COMM0>,
			<&ovlsys_config_clk CLK_OVL_DISP_Y2R0>,
			<&ovlsys_config_clk CLK_OVL_DISP_Y2R1>,
			<&ovlsys_config_clk CLK_OVL_DISP_OVL4_2L>,
			<&ovlsys1_config_clk CLK_OVL1_OVLSYS_CONFIG>,
			<&ovlsys1_config_clk CLK_OVL1_DISP_FAKE_ENG0>,
			<&ovlsys1_config_clk CLK_OVL1_DISP_FAKE_ENG1>,
			<&ovlsys1_config_clk CLK_OVL1_DISP_MUTEX0>,
			<&ovlsys1_config_clk CLK_OVL1_DISP_OVL0_2L>,
			<&ovlsys1_config_clk CLK_OVL1_DISP_OVL1_2L>,
			<&ovlsys1_config_clk CLK_OVL1_DISP_OVL2_2L>,
			<&ovlsys1_config_clk CLK_OVL1_DISP_OVL3_2L>,
			<&ovlsys1_config_clk CLK_OVL1_DISP_RSZ1>,
			<&ovlsys1_config_clk CLK_OVL1_MDP_RSZ0>,
			<&ovlsys1_config_clk CLK_OVL1_DISP_WDMA0>,
			<&ovlsys1_config_clk CLK_OVL1_DISP_UFBC_WDMA0>,
			<&ovlsys1_config_clk CLK_OVL1_DISP_WDMA2>,
			<&ovlsys1_config_clk CLK_OVL1_DISP_DLI_ASYNC0>,
			<&ovlsys1_config_clk CLK_OVL1_DISP_DLI_ASYNC1>,
			<&ovlsys1_config_clk CLK_OVL1_DISP_DLI_ASYNC2>,
			<&ovlsys1_config_clk CLK_OVL1_DISP_DL0_ASYNC0>,
			<&ovlsys1_config_clk CLK_OVL1_DISP_DL0_ASYNC1>,
			<&ovlsys1_config_clk CLK_OVL1_DISP_DL0_ASYNC2>,
			<&ovlsys1_config_clk CLK_OVL1_DISP_DL0_ASYNC3>,
			<&ovlsys1_config_clk CLK_OVL1_DISP_DL0_ASYNC4>,
			<&ovlsys1_config_clk CLK_OVL1_DISP_DL0_ASYNC5>,
			<&ovlsys1_config_clk CLK_OVL1_DISP_DL0_ASYNC6>,
			<&ovlsys1_config_clk CLK_OVL1_INLINEROT0>,
			<&ovlsys1_config_clk CLK_OVL1_SMI_SUB_COMM0>,
			<&ovlsys1_config_clk CLK_OVL1_DISP_Y2R0>,
			<&ovlsys1_config_clk CLK_OVL1_DISP_Y2R1>,
			<&ovlsys1_config_clk CLK_OVL1_DISP_OVL4_2L>;
	};

	bring-up-pd-peri-usb0@1 {
		compatible = "mediatek,scpsys-bring-up";
		reg = <0x1>;
		power-domains = <&scpsys MT6989_POWER_DOMAIN_PERI_USB0>;
	};

	bring-up-pd-pextp-mac0@2 {
		compatible = "mediatek,scpsys-bring-up";
		reg = <0x2>;
		power-domains = <&scpsys MT6989_POWER_DOMAIN_PEXTP_MAC0>;
	};

	bring-up-pd-pextp-mac1@3 {
		compatible = "mediatek,scpsys-bring-up";
		reg = <0x3>;
		power-domains = <&scpsys MT6989_POWER_DOMAIN_PEXTP_MAC1>;
	};

	bring-up-pd-pextp-phy0@4 {
		compatible = "mediatek,scpsys-bring-up";
		reg = <0x4>;
		power-domains = <&scpsys MT6989_POWER_DOMAIN_PEXTP_PHY0>;
	};

	bring-up-pd-pextp-phy1@5 {
		compatible = "mediatek,scpsys-bring-up";
		reg = <0x5>;
		power-domains = <&scpsys MT6989_POWER_DOMAIN_PEXTP_PHY1>;
	};

	bring-up-pd-audio@6 {
		compatible = "mediatek,scpsys-bring-up";
		reg = <0x6>;
		power-domains = <&scpsys MT6989_POWER_DOMAIN_AUDIO>;
	};

	bring-up-pd-adsp-top-dormant@7 {
		compatible = "mediatek,scpsys-bring-up";
		reg = <0x7>;
		power-domains = <&scpsys MT6989_POWER_DOMAIN_ADSP_TOP_DORMANT>;
	};

	bring-up-pd-adsp-ao@8 {
		compatible = "mediatek,scpsys-bring-up";
		reg = <0x8>;
		power-domains = <&scpsys MT6989_POWER_DOMAIN_ADSP_AO>;
	};

	bring-up-pd-isp-traw@9 {
		compatible = "mediatek,scpsys-bring-up";
		reg = <0x9>;
		power-domains = <&scpsys MT6989_POWER_DOMAIN_ISP_TRAW>;
	};

	bring-up-pd-isp-dip1@a {
		compatible = "mediatek,scpsys-bring-up";
		reg = <0xa>;
		power-domains = <&scpsys MT6989_POWER_DOMAIN_ISP_DIP1>;
	};

	bring-up-pd-isp-main@b {
		compatible = "mediatek,scpsys-bring-up";
		reg = <0xb>;
		power-domains = <&scpsys MT6989_POWER_DOMAIN_ISP_MAIN>;
	};

	bring-up-pd-isp-vcore@c {
		compatible = "mediatek,scpsys-bring-up";
		reg = <0xc>;
		power-domains = <&scpsys MT6989_POWER_DOMAIN_ISP_VCORE>;
	};

	bring-up-pd-vde0@d {
		compatible = "mediatek,scpsys-bring-up";
		reg = <0xd>;
		power-domains = <&scpsys MT6989_POWER_DOMAIN_VDE0>;
	};

	bring-up-pd-vde1@e {
		compatible = "mediatek,scpsys-bring-up";
		reg = <0xe>;
		power-domains = <&scpsys MT6989_POWER_DOMAIN_VDE1>;
	};

	bring-up-pd-vde-vcore0@f {
		compatible = "mediatek,scpsys-bring-up";
		reg = <0xf>;
		power-domains = <&scpsys MT6989_POWER_DOMAIN_VDE_VCORE0>;
	};

	bring-up-pd-vde-vcore1@10 {
		compatible = "mediatek,scpsys-bring-up";
		reg = <0x10>;
		power-domains = <&scpsys MT6989_POWER_DOMAIN_VDE_VCORE1>;
	};

	bring-up-pd-ven0@11 {
		compatible = "mediatek,scpsys-bring-up";
		reg = <0x11>;
		power-domains = <&scpsys MT6989_POWER_DOMAIN_VEN0>;
	};

	bring-up-pd-ven1@12 {
		compatible = "mediatek,scpsys-bring-up";
		reg = <0x12>;
		power-domains = <&scpsys MT6989_POWER_DOMAIN_VEN1>;
	};

	bring-up-pd-ven2@13 {
		compatible = "mediatek,scpsys-bring-up";
		reg = <0x13>;
		power-domains = <&scpsys MT6989_POWER_DOMAIN_VEN2>;
	};

	bring-up-pd-cam-mraw@14 {
		compatible = "mediatek,scpsys-bring-up";
		reg = <0x14>;
		power-domains = <&scpsys MT6989_POWER_DOMAIN_CAM_MRAW>;
	};

	bring-up-pd-cam-suba@15 {
		compatible = "mediatek,scpsys-bring-up";
		reg = <0x15>;
		power-domains = <&scpsys MT6989_POWER_DOMAIN_CAM_SUBA>;
	};

	bring-up-pd-cam-subb@16 {
		compatible = "mediatek,scpsys-bring-up";
		reg = <0x16>;
		power-domains = <&scpsys MT6989_POWER_DOMAIN_CAM_SUBB>;
	};

	bring-up-pd-cam-subc@17 {
		compatible = "mediatek,scpsys-bring-up";
		reg = <0x17>;
		power-domains = <&scpsys MT6989_POWER_DOMAIN_CAM_SUBC>;
	};

	bring-up-pd-cam-main@18 {
		compatible = "mediatek,scpsys-bring-up";
		reg = <0x18>;
		power-domains = <&scpsys MT6989_POWER_DOMAIN_CAM_MAIN>;
	};

	bring-up-pd-cam-vcore@19 {
		compatible = "mediatek,scpsys-bring-up";
		reg = <0x19>;
		power-domains = <&scpsys MT6989_POWER_DOMAIN_CAM_VCORE>;
	};

	bring-up-pd-cam-ccu@1a {
		compatible = "mediatek,scpsys-bring-up";
		reg = <0x1a>;
		power-domains = <&scpsys MT6989_POWER_DOMAIN_CAM_CCU>;
	};

	bring-up-pd-cam-ccu-ao@1b {
		compatible = "mediatek,scpsys-bring-up";
		reg = <0x1b>;
		power-domains = <&scpsys MT6989_POWER_DOMAIN_CAM_CCU_AO>;
	};

	bring-up-pd-disp-vcore@1c {
		compatible = "mediatek,scpsys-bring-up";
		reg = <0x1c>;
		power-domains = <&scpsys MT6989_POWER_DOMAIN_DISP_VCORE>;
	};

	bring-up-pd-dis0-shutdown@1f {
		compatible = "mediatek,scpsys-bring-up";
		reg = <0x1f>;
		power-domains = <&scpsys MT6989_POWER_DOMAIN_DIS0_SHUTDOWN>;
	};

	bring-up-pd-dis1-shutdown@20 {
		compatible = "mediatek,scpsys-bring-up";
		reg = <0x20>;
		power-domains = <&scpsys MT6989_POWER_DOMAIN_DIS1_SHUTDOWN>;
	};

	bring-up-pd-ovl0-shutdown@21 {
		compatible = "mediatek,scpsys-bring-up";
		reg = <0x21>;
		power-domains = <&scpsys MT6989_POWER_DOMAIN_OVL0_SHUTDOWN>;
	};

	bring-up-pd-ovl1-shutdown@22 {
		compatible = "mediatek,scpsys-bring-up";
		reg = <0x22>;
		power-domains = <&scpsys MT6989_POWER_DOMAIN_OVL1_SHUTDOWN>;
	};

	bring-up-pd-mm-infra@23 {
		compatible = "mediatek,scpsys-bring-up";
		reg = <0x23>;
		power-domains = <&scpsys MT6989_POWER_DOMAIN_MM_INFRA>;
	};

	bring-up-pd-dp-tx@24 {
		compatible = "mediatek,scpsys-bring-up";
		reg = <0x24>;
		power-domains = <&scpsys MT6989_POWER_DOMAIN_DP_TX>;
	};

	bring-up-pd-csi-rx@25 {
		compatible = "mediatek,scpsys-bring-up";
		reg = <0x25>;
		power-domains = <&scpsys MT6989_POWER_DOMAIN_CSI_RX>;
	};

	bring-up-pd-ssrsys@26 {
		compatible = "mediatek,scpsys-bring-up";
		reg = <0x26>;
		power-domains = <&scpsys MT6989_POWER_DOMAIN_SSR>;
	};

	bring-up-pd-mfg0-dormant@27 {
		compatible = "mediatek,scpsys-bring-up";
		reg = <0x27>;
		power-domains = <&scpsys MT6989_POWER_DOMAIN_MFG0_DORMANT>;
	};

};
