# SPDX-License-Identifier: GPL-2.0-only

config MTK_IPV6MAPV4_DEBUG
	bool "Fix ipv6 map v4 exception due to use after free stack"
	help
	  This option makes it possible to send message with
	  ipv6 map v4 destination address
	  ipv6 map v4 triggered by kasan
	  udp send message and record destination address.

