# SPDX-License-Identifier: GPL-2.0-only

config MTK_GZVM
	tristate "GenieZone Hypervisor driver for guest VM operation"
	depends on ARM64
	depends on KVM
	help
	  This is a driver for running guest VMs on MTK GenieZone hypervisor.
	  This driver exports kvm-like interfaces for VMM (e.g., crosvm) in
	  order to operate guest VMs on GenieZone hypervisor.

	  If unsure, say N.
