#
# Focaltech Touchscreen driver configuration
#

config TOUCHSCREEN_FT3683G_SPI
    tristate "Focaltech Touchscreen"
    default m
    help
      Say Y here if you have Focaltech touch panel.
      If unsure, say N.
